@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body,
html {
  font-family: "Open Sans", sans-serif;

  & * {
    padding: 0;
    margin: 0;
  }
  height: auto;
}

#container {
  border: 1px solid;
  border-radius: 7px;

  background: #eaeaea;
  box-shadow: 3px 4px 10px 2px rgba(0, 0, 0, 0.15);

  position: fixed;
  width: max-content;
  height: fit-content;
  padding: 25px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
  width: 1000px;
  height: 400px;
}

input {
  border: 1.5px solid;
  padding: 5px;
  width: 700px;
  height: 100px;
}
.submit {
  padding: 5px 10px;
  color: white;
  background: green;

  border: none;
  transition: all 300ms ease;
  width: 700px;
  height: 80px;
}

.jawaban {
  margin: 12px 0;
}

.buttons {
  display: flex;
  gap: 10px;
}

.buttons {
  & .next,
  & .back {
    padding: 5px;
    width: 50%;
    color: white;

    border: none;
  }

  & .next {
    background: blueviolet;
  }

  & .back {
    background: teal;
  }

  transition: all 300ms ease;
}

button:active {
  background: #000 !important;
}

.result {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100vh;
}

.show-result {
  width: 100%;
  height: 100%;

  opacity: 0;

  color: white;
  font-weight: bolder;
  font-size: 96px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.in {
  opacity: 0.75;
  transition: all 250ms ease;
}
.out {
  opacity: 0;
  transition: all 750ms ease;
}
