#main-container {
  bottom: 55%;
  right: 50%;
}

#container {
  border: 1px solid;
  border-radius: 7px;

  background: #eaeaea;
  box-shadow: 3px 4px 10px 2px rgba(0, 0, 0, 0.15);

  width: max-content;
  height: fit-content;
  padding: 16px;

  text-align: center;
}

.jawab {
  border: 1.5px solid;
  padding: 5px;
  width: 300px;
}
.submit {
  padding: 5px 10px;
}

.jawaban {
  margin: 12px 0;
}

.buttons {
  display: flex;
  gap: 10px;
}

.buttons {
  & .next, & .back {
    padding: 5px;
    width: 50%;
    color: white;

    border: none;
  }

  & .next {
    background: blueviolet;
  }

  & .back {
    background: teal;
  }

  transition: all 300ms ease;

}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;

  * {
    margin: 0;
  }
}
.title-container .title {
  display: flex;
  align-items: center;

  margin-left: -100px;
}
.soc {
  font-size: 60px;
}
img {
  height: 100px;
}
